.map_area{
    color: #000;
    font-size: 18pt;
    font-weight: bold;
    z-index: 2;
    word-wrap: break-word; 
    max-width: 145px;
    /* word-break: break-all;*/
}

.area_image{
    width: 750px;
    min-width: 750px;
    max-width: 750px;
    height: 360px;
    min-height: 360px;
    max-height: 360px;
    text-align: center;
}

.concept_art{
    max-width: 750px;
    height: 50%;
    width: 50%;
    max-height: 360px;
    text-align: center;
}